<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Teacher</h1>

    <p><%= msg %></p>

    <form action="/portal/admin/dashboard/teachers/add" method="post">
      <input type="text" name="name" id="" placeholder="Fullname" required />
      <br />
      <input type="email" name="email" id="" placeholder="Email" required />
      <br />
      <input
        type="password"
        name="password"
        id=""
        placeholder="Password"
        required
      />
      <br />
      <input
        type="tel"
        name="phone"
        id=""
        placeholder="Phone Number"
        required
      />
      <br />
      <% if (classes.length > 0) { %> <% classes.forEach(clas => { %>
      <input
        type="checkbox"
        name="classes"
        id="<%= clas.name %>"
        value="<%= clas.name %>"
      />
      <label for="<%= clas.name %>"><%= clas.name %></label>
      <br />
      <% }) %> <% } %> <% if (subjects.length > 0) { %> <%
      subjects.forEach(subject => { %>
      <input
        type="checkbox"
        name="subjects"
        id="<%=subject.title %>"
        value="<%=subject.title %>"
      />
      <label for="<%=subject.title %>"><%=subject.title %></label>
      <br />
      <% }) %> <% } %>
      <input type="radio" name="role" value="HOD" />
      <label for="role">HOD (optional)</label>
      <br />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
