<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Class</h1>

    <p><%= msg %></p>

    <form action="/portal/admin/dashboard/classes/add" method="post">
      <input type="text" name="name" id="" placeholder="Class Name" required />
      <br />
      <% if (subjects.length > 0) { %> <% subjects.forEach(subject => { %>
      <input
        type="checkbox"
        name="subjects"
        id="<%= subject.title %>"
        value="<%= subject.title %>"
      />
      <label for="<%= subject.title %>"><%= subject.title %></label>
      <br />
      <% }) %> <% } else { %>
      <p>No Subject Available</p>
      <% } %>
      <br />
      <label for="classTeacher">Assign Class Teacher</label>
      <select name="classTeacher">
        <% if (teachers.length > 0) { %> <% teachers.forEach(teacher => { %>
        <option value="<%= teacher._id %>"><%= teacher.name %></option>
        <% }) %> <% } else { %>
        <option value="" disabled>-----</option>
        <% } %>
      </select>
      <br />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
